<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai; " />
    <add name="FarmerBrothersEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FBEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="DefaultConnection" connectionString="data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks; " />
    <add name="FarmerBrothersEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
    <add name="FBEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />-->
  </connectionStrings>
  <appSettings>
    <add key="UseTestMails" value="false" />
    <add key="TestEmail" value="abhilash@teqdatum.com#abhilashb@mktalt.com;" /><!--ram@mktalt.com;ram@maibpo.com" />-->
	  <!--<add key="TestEmail" value="abhilash@teqdatum.com;ram@maibpo.com;mfraser@ReviveService.com#abhilashb@mktalt.com;ram@mktalt.com;jfraser@farmerbros.com"/>-->
    <add key="DispatchMailFromAddress" value="support@reviveservice.com" /><!--FarmerBrothers@mktalt.com" />-->
	<add key="DispatchMailReplyToAddress" value="reviveservice@maivoice.com" />
    <add key="MailServer" value="127.0.0.1" />
    <add key="PasswordHash" value="P@@Sw0rd" />
    <add key="SaltKey" value="S@LT&amp;KEY" />
    <add key="VIKey" value="@1B2c3D4e5F6g7H8" />
    <add key="AutoDispatchAvailableEmailStartTime" value="07:00 AM" />
    <add key="AutoDispatchAvailableEmailEndTime" value="04:30 PM" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DispatchResponseUrl" value="http://fbmars.mktalt.com/dispatchresponse/dispatchresponse?" />
    <add key="RedirectResponseUrl" value="http://fbmars.mktalt.com/dispatchresponse/TechniciansList?" />
	  <add key="ProcessCardUrl" value="http://fbmars.mktalt.com/dispatchresponse/ProcessCard?" />
    <add key="CallClosureUrl" value="http://166.78.223.84/Default.aspx" />
	  <add key="supportEmailId" value="fetprotect@fetco.com" />

    <add key="Email_TenantId" value="c6af841f-2185-4e29-b8fc-f5f4a312f72d" />
    <add key="Email_ClientId" value="2fdb7b4b-ee89-42f1-8fd2-17642b04ba96" />
    <add key="Email_ClientSecret" value="1W18Q~irjp7hy.FNVF02JLRKKPGg8bbj-ht3hclB" />
  
	<add key="PartsorderToAddress" value="Partsorders@farmerbros.com" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.49.1.0" newVersion="4.49.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
