/Api/DataAccess/bin
/Api/DataAccess/obj
/Api/ServiceApis/.vs
/Api/ServiceApis/bin
/Api/ServiceApis/obj
/FetcoCall/.vs
/FetcoCall/FetcoCall/bin
/FetcoCall/FetcoCall/obj
/NewcoCall/NewcoCall/bin
/NewcoCall/NewcoCall/obj
/VixxoService/FBVixxoService/.vs
/VixxoService/FBVixxoService/FBVixxoService/obj
/VixxoService/FBVixxoService/FBVixxoService/bin
/NewcoCall/.vs
/FarmerBrothers/FarmerBrothers/obj
/FarmerBrothers/FarmerBrothers.Data/obj
/FarmerBrothers/FarmerBrothers.BL
/FarmerBrothers/.vs
/FarmerBrothers/FarmerBrothers.Data/bin
/FarmerBrothers/FarmerBrothers/bin
/FarmerBrothers/FarmerBrothersMailResponse
