<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <connectionStrings>
    <add name="FB_Connection" connectionString="data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks; " />
    <!--<add name="FB_Connection" connectionString="data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai; " />-->
  </connectionStrings>

  <appSettings>
    <add key="FullPath" value="D:\Websites\FarmerBrothers\FBDataImport_Test\Files\"/>
    <!--<add key="FullPath" value="D:\Websites\MAIAutoPrograms\FBDataSend\Incoming\"/>-->
  </appSettings>
</configuration>