<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>   
    <add name="FB_DevEntities" connectionString="metadata=res://*/FarmerBrothersEntities.csdl|res://*/FarmerBrothersEntities.ssdl|res://*/FarmerBrothersEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="UseTestMails" value="false" />
	  <add key="EmailCC" value="Ryan.Schwarz@state.mn.us;adam.fredrickson1@state.mn.us;" />
    <add key="TestEmail" value="abhilash@teqdatum.com;"/>
    <!--<add key="DispatchMailFromAddress" value="FarmerBrothers@mktalt.com" />-->
    <add key="DispatchMailFromAddress" value="reviveservice@mktalt.com" />
    <add key="MailServer" value="127.0.0.1" />
    <add key="ServerPort" value="25" />
    <add key="ImagePath" value="D:\Websites\FarmerBrothers\ElectronicInvoiceProd\Img\logo_header.png"/>
      </appSettings>
</configuration>