<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="MyFileAppender" type="log4net.Appender.FileAppender">
      <file value="application.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ErrorLogs.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="FB_Entities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="FilePath" value ="D:\Websites\FarmerBrothers\FBReports_Prod\ExcelFiles\"/>
    <add key="MailServer" value="127.0.0.1" />
    <add key="FromAddress" value ="fbdispatch@mktalt.com"/>
    <add key="FromAddressDisplay" value ="fbdispatch"/>
    <add key="ToAddress" value ="abhilash@teqdatum.com; abhilashb@mktalt.com; "/>
  <!--<add key="ToAddress" value ="abhilashb@mktalt.com;;jfraser@farmerbros.com;cebueng@farmerbros.com;cmilnes@farmerbros.com;dkite@farmerbros.com;mschultz@farmerbros.com;mtwist@farmerbros.com;mnemoede@farmerbros.com;rtaylor@farmerbros.com;dmcgee@farmerbros.com;"/>-->
  </appSettings>
</configuration>