<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="FB_Connection" connectionString="data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks; " />    
    <add name="FBEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;user id=sa;password=M@ir0cks;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FB_Connection" connectionString="data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai; " />
    <add name="FBEntities" connectionString="metadata=res://*/FBEntity.csdl|res://*/FBEntity.ssdl|res://*/FBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="FullPath" value="D:\Websites\FarmerBrothers\FarmerBrothersSourceCode\FBCode\FarmerBrothersMars\MAICBE\Test\" />-->
    <add key="FullPath" value="D:\Websites\MAIAutoPrograms\FBDataSend\Incoming\MAICBE\TEST\" />
    <add key="MailServer" value="127.0.0.1" />
    <add key="FromAddress" value="fbdispatch@mktalt.com" />
    <add key="ToAddress" value="abhilash@teqdatum.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>