<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FBCallEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;;user id=sa;password=M@ir0cks; " />
    <!--<add name="FBCallEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FBWWOCallEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=863781-APP1\FBMARS;initial catalog=FB_PROD;;user id=sa;password=FBM@RS17mai; " />-->
    <add name="FBWWOCallEntities" connectionString="metadata=res://*/FB.csdl|res://*/FB.ssdl|res://*/FB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;user id=sa;password=M@ir0cks;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReviveEntities" connectionString="metadata=res://*/ReviveEntity.csdl|res://*/ReviveEntity.ssdl|res://*/ReviveEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=863781-APP1\SQLEXPRESS;initial catalog=FB_TEST;user id=sa;password=M@ir0cks;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ManagerName" value="Mike Fraser" />
    <add key="ManagerPhone" value="(734) 320-9194" />
    <add key="AutoDispatchAvailableEmailStartTime" value="07:00 AM" />
    <add key="AutoDispatchAvailableEmailEndTime" value="04:30 PM" />
    <add key="DispatchMailFromAddress" value="FarmerBrothers@mktalt.com" />
    <!--<add key="MailServer" value="192.168.3.240" />-->
    <add key="MailServer" value="127.0.0.1" />
    <add key="CBIAndPFSAvailableEmailStartTime" value="12:01 AM" />
    <add key="CBIAndPFSAvailableEmailEndTime" value="11:59 PM" />
    <add key="CallClosureUrl" value="http://fbmarstest.mktalt.com/MARSClosure/CallClosure.aspx" />
    <add key="UseExternalCallClosure" value="true" />
    <add key="NOAutoDispatchTechIds" value="908020;6304772" />
    <add key="CustomerUpdateMailFromAddress" value="fbdispatch@mktalt.com" />
    <add key="CustomerUpdateMailFromAddress" value="fbdispatch@mktalt.com" />
    <add key="TestEmail" value="abhilashb@mktalt.com;abhilash@teqdatum.com;" />
    <add key="CallReasonUnknowunCustomerEmail" value="abhilash@teqdatum.com;" />
    <add key = "CompleteNonServiceEventUrl" value = "http://localhost:3196/dispatchresponse/CompleteNonServiceEvent?" />
    <add key = "CreateServiceEventUrl" value = "http://localhost:3196/dispatchresponse/CreateServiceEvent?" />
    <add key="MaxWorkOrderResultsCount" value="20000" />
    <add key="PasswordHash" value="P@@Sw0rd" />
    <add key="SaltKey" value="S@LT&amp;KEY" />
    <add key="VIKey" value="@1B2c3D4e5F6g7H8" />
    <add key="UseEncryption" value="true" />
    <!--Escalation Emails-->
    <add key="UseTestMails" value="true" />
    <add key="RedirectResponseUrl" value="http://fbmarstest.mktalt.com/dispatchresponse/TechniciansList?" />
    <add key="ResetPwdUrl" value="http://fbmarstest.mktalt.com/Home/ResetPassword" />
    <add key="DispatchResponseUrl" value="http://fbmarstest.mktalt.com/dispatchresponse/dispatchresponse?" />
    <add key="CallClosureUrl" value="http://fbmarstest.mktalt.com/CallClosure/CallClosureManagement" />

	  <add key="MikeEmailId" value="mfraser@ReviveService.com" />
	  <add key="DONKite" value="DKite@ReviveService.com" />
	  <add key="Support" value="support@reviveservice.com" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="Syncfusion.EJ, Version=19.3.0.44, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3460.0.44" newVersion="19.3460.0.44" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>